p {
    color: blue;
    text-align: center;

}
div{
    text-align: start;
    color: chocolate;

}

body{
color:darkblue;
background-color: darkgreen;
}
button{
color: chocolate;
width: 100px
}

#p1{
    color: chartreuse;
    text-align: right;
    }

.pararight{
background-color: darkblue;
text-align: left;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 100px;
color: white;
}

div #divpara{
color: white;text-align: start;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 105px;
}